@page "/addEvent"
@rendermode InteractiveServer
@inject HttpClient Http

<h3>Add Meeting</h3>

<div class="event-form">
   <EditForm Model="@eventModel" OnValidSubmit="HandleValidSubmit" FormName="AddEventForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label> Name: </label>
        <InputText @bind-Value="eventModel.Name" />
    </div>

    <div>
        <label> Course: </label>
        <InputText @bind-Value="eventModel.Course" />
    </div>

    <div>
        <label> Date: </label>
        <InputDate @bind-Value="eventModel.Date" />
    </div>

    <div>
        <label> Description: </label>
        <InputTextArea @bind-Value="eventModel.Description" />
    </div>

    <button type="submit">Add Event</button>
   </EditForm>
</div>

@if (!string.IsNullOrEmpty(message))
{
    <p>@message</p>
}


@code {
    private EventModel eventModel = new();
    private string? message;

    private async Task HandleValidSubmit(){
        var response = await Http.PutAsJsonAsync("api/events", eventModel);
        if (response.IsSuccessStatusCode)
        {
            message = "✅ Event added successfully!";
            eventModel = new EventModel(); // reset form
        }
        else
        {
            var error = await response.Content.ReadAsStringAsync();
            message = $"❌ Error: {error}";
        }
    }
}