@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Booking Calendar!</h1>


    <p>
    This application allows you to manage your bookings and events efficiently. You can view your calendar, add new events, and keep track of your schedule all in one place.
    </p>

<h2>Contributors</h2>
<ol>
    <li>Calvin, Joseph</li>
    <li>Bravo Moran, Sergio Bravo</li>
    <li>Parra de los Santos, Omarlin</li>
    <li>Stamm, Boston</li>
    <li>Medeiros, Luã Felizola</li>
</ol>