@page "/login"
<div class="container vh-100 d-flex justify-content-center align-items-center">


<div class="card shadow p-4" style="width: 400px;">
    <h3 class="text-center mb-4">Login</h3>
    <form action="" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control vaild">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Password</label>
            <input type="password" name="password" class="form-control vaild">
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
</div>
</div>